.navLinkColor {
  color: #aaa;
}

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.8) 59%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("./assets/hero.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.img-text {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.8) 59%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("./assets/corousel.jpg");

  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

  height: 25rem;
}

.text-img img {
  width: 8rem;
  height: 8rem;
  border-radius: 50rem;
  margin-bottom: 1rem;
  border: 3px solid green;
}

.blog-img {
  height: 20rem !important;
}

.news {
  height: 2.38rem;
  width: 25rem;
}
